*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
#header-top{
    text-align: center;
    padding: 10px;
    font-size: 25pt;
    background-color: firebrick;
    color: white;
}
#header-bottom{
    text-align: center;
    padding: 18px;
    background-color: #fafafa;
}
#vien-xam-dam{
    padding: 1px;
    background-color: #ececec;
}
#menu-box-header{
    text-align: center;
    margin-left: 50px;
    float: left;
}
.tao-phieu-xuat-nhap{
    padding: 20px 46px;
    text-align: right;
}
.menu-2{
  padding: 0 46px;
}
.container {
  margin: 0% 3%;
  padding-top: 20px;
}
.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  @media (min-width: $bp-bart) {
    font-size: .9em; 
  }
  @media (min-width: $bp-marge) {
    font-size: 1em; 
  }
}
  
